* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#app {
  width: 90vw;
  margin: auto;
  font-family: sans-serif;
  color: #darker;
}
#app #projects-list {
  margin: 0.5em auto;
  display: flex;
}
#app #projects-list .project {
  margin: 0 0.5em;
  flex: 1;
  text-align: center;
  color: whitesmoke;
  background: #1a1a1a;
  padding: 0.8em 0;
}
#app #projects-list .project:hover {
  cursor: pointer;
  background: #4d4d4d;
}
#app #projects-list .project.active {
  background: #0f8a0f;
}
#app #projects-list .project:first-child {
  margin-left: 0;
}
#app #projects-list .project:last-child {
  margin-right: 0;
}
#app #loader .progress {
  display: block;
  width: 100%;
  height: 30px;
  background: #999999;
  margin: 0.5em 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}
#app #loader .progress .bar {
  background: #baf7ba;
  display: block;
  height: 100%;
  background-image: linear-gradient(-45deg, transparent 33%, rgba(0, 0, 0, 0.1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 66%), linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.25)), linear-gradient(left, #09c, #f44);
}
#app #project {
  position: relative;
}
#app #project #data-table {
  margin-top: 0.5em;
  width: 100%;
}
#app #project #data-table .head, #app #project #data-table .body, #app #project #data-table .total {
  border-bottom: 2px solid #cccccc;
}
#app #project #data-table .head .row, #app #project #data-table .head .row1, #app #project #data-table .head .row2, #app #project #data-table .body .row, #app #project #data-table .body .row1, #app #project #data-table .body .row2, #app #project #data-table .total .row, #app #project #data-table .total .row1, #app #project #data-table .total .row2 {
  display: grid;
  grid-template-columns: 3fr 1.3fr 1.5fr repeat(2, 1.2fr) 1.6fr 1.8fr 1.8fr 2fr repeat(6, 1fr);
  grid-column-gap: 0em;
  width: 100%;
}
#app #project #data-table .head .row .data, #app #project #data-table .head .row1 .data, #app #project #data-table .head .row2 .data, #app #project #data-table .body .row .data, #app #project #data-table .body .row1 .data, #app #project #data-table .body .row2 .data, #app #project #data-table .total .row .data, #app #project #data-table .total .row1 .data, #app #project #data-table .total .row2 .data {
  display: block;
  padding: 1em 0.5em;
  position: relative;
  cursor: default;
  word-break: break-word;
}
#app #project #data-table .head .row .data:first-child, #app #project #data-table .head .row1 .data:first-child, #app #project #data-table .head .row2 .data:first-child, #app #project #data-table .body .row .data:first-child, #app #project #data-table .body .row1 .data:first-child, #app #project #data-table .body .row2 .data:first-child, #app #project #data-table .total .row .data:first-child, #app #project #data-table .total .row1 .data:first-child, #app #project #data-table .total .row2 .data:first-child {
  padding-left: 0.1em;
}
#app #project #data-table .head .row .data:last-child, #app #project #data-table .head .row1 .data:last-child, #app #project #data-table .head .row2 .data:last-child, #app #project #data-table .body .row .data:last-child, #app #project #data-table .body .row1 .data:last-child, #app #project #data-table .body .row2 .data:last-child, #app #project #data-table .total .row .data:last-child, #app #project #data-table .total .row1 .data:last-child, #app #project #data-table .total .row2 .data:last-child {
  padding-right: 0.1em;
}
#app #project #data-table .head .row.teacher, #app #project #data-table .head .row1.teacher, #app #project #data-table .head .row2.teacher, #app #project #data-table .body .row.teacher, #app #project #data-table .body .row1.teacher, #app #project #data-table .body .row2.teacher, #app #project #data-table .total .row.teacher, #app #project #data-table .total .row1.teacher, #app #project #data-table .total .row2.teacher {
  background: #edfdfd;
}
#app #project #data-table .head .row.teacher:hover, #app #project #data-table .head .row1.teacher:hover, #app #project #data-table .head .row2.teacher:hover, #app #project #data-table .body .row.teacher:hover, #app #project #data-table .body .row1.teacher:hover, #app #project #data-table .body .row2.teacher:hover, #app #project #data-table .total .row.teacher:hover, #app #project #data-table .total .row1.teacher:hover, #app #project #data-table .total .row2.teacher:hover {
  background: #baf7f7;
}
#app #project #data-table .head {
  background: #e6e6e6;
}
#app #project #data-table .head .row1 .data, #app #project #data-table .head .row2 .data {
  padding: 0.5em 0.3em;
}
#app #project #data-table .head .row1 {
  grid-template-columns: 3fr 2.8fr 5.8fr 3.8fr 6fr;
}
#app #project #data-table .head .row1 .data {
  font-weight: bold;
  padding-bottom: 0.1em;
  border: 1px solid #e6e6e6;
  border-bottom: 0;
  border-right: 0;
}
#app #project #data-table .head .row1 .data:first-child {
  border-left: 0;
}
#app #project #data-table .head .row2 .data {
  padding-top: 0.1em;
  border: 0px solid #e6e6e6;
}
#app #project #data-table .head .row2 .data.bl {
  border-left-width: 1px;
}
#app #project #data-table .body .row {
  border-bottom: 1px solid #e6e6e6;
}
#app #project #data-table .body .row .data {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
#app #project #data-table .body .row:hover {
  background: whitesmoke;
}
#app #project #data-table .total {
  border-bottom: 0;
}
#app #project #data-table .total .row .data {
  padding-top: 0.5em;
}
#app #project #data-table .commits {
  color: #eb4747;
}
#app #project #data-table .commits[commits]:before {
  content: "" " " attr(commits) " " "commits";
}
#app #project #data-table .commits[commits="0"]:before, #app #project #data-table .commits[commits="1"]:before {
  content: "" " " attr(commits) " " "commit";
}
#app #project #data-table .comments {
  color: #4747eb;
}
#app #project #data-table .comments[comments]:before {
  content: "" " " attr(comments) " " "comments";
}
#app #project #data-table .comments[comments="0"]:before, #app #project #data-table .comments[comments="1"]:before {
  content: "" " " attr(comments) " " "comment";
}
#app #project #data-table .open {
  color: #8a0f0f;
}
#app #project #data-table .open[issues]:before {
  content: "" " " attr(issues) " " "open issues";
}
#app #project #data-table .open[issues="0"]:before, #app #project #data-table .open[issues="1"]:before {
  content: "" " " attr(issues) " " "open issue";
}
#app #project #data-table .closed {
  color: #0f0f8a;
}
#app #project #data-table .closed[issues]:before {
  content: "" " " attr(issues) " " "closed issues";
}
#app #project #data-table .closed[issues="0"]:before, #app #project #data-table .closed[issues="1"]:before {
  content: "" " " attr(issues) " " "closed issue";
}
#app #project #data-table .with-commits[commits]:before {
  content: "" " " attr(commits) " " "issues w commit(s)";
}
#app #project #data-table .with-commits[commits="0"]:before, #app #project #data-table .with-commits[commits="1"]:before {
  content: "" " " attr(commits) " " "issue w commit(s)";
}
#app #project #data-table .with-comments[comments]:before {
  content: "" " " attr(comments) " " "issues w comment(s)";
}
#app #project #data-table .with-comments[comments="0"]:before, #app #project #data-table .with-comments[comments="1"]:before {
  content: "" " " attr(comments) " " "issue w comment(s)";
}
#app #project #sprints-list {
  display: flex;
}
#app #project #sprints-list .sprint {
  list-style: none;
  margin: 0 0.5em;
  flex: 1;
  text-align: center;
}
#app #project #sprints-list .sprint span {
  cursor: pointer;
  padding: 0.5em;
  display: block;
  width: 100%;
  background: #999999;
}
#app #project #sprints-list .sprint span:hover {
  background: #cccccc;
}
#app #project #sprints-list .sprint.active span {
  background: #baf7ba;
}
#app #project #sprints-list .sprint:first-child {
  margin-left: 0;
}
#app #project #sprints-list .sprint:last-child {
  margin-right: 0;
}
#app #project #sprint-data h2 {
  text-align: center;
  margin: 0.5em auto;
}
#app #project h1 {
  text-align: center;
  margin: 0.5em auto;
}
#app #project .renew {
  position: absolute;
  display: block;
  width: 2em;
  height: 2em;
  right: 0;
  border: 1px solid #999999;
  color: #0f8a0f;
  font-size: 1em;
  border-radius: 50%;
  padding: 0.5em;
  text-align: center;
  cursor: pointer;
}
#app #project .renew:hover {
  background: #baf7ba;
}
#app #project .sprint-data {
  display: flex;
  flex-flow: row wrap;
}
#app #project .sprint-data .data {
  background: whitesmoke;
  flex-grow: 2;
  margin: 0.5em;
  padding: 1em;
  text-align: center;
}
#app #project .sprint-data .data span {
  font-weight: bold;
  display: block;
}
#app #project .sprint-data .data span .details span {
  display: inline;
}
#app #project .sprint-data .data span .details span.open {
  color: #8a0f0f;
}
#app #project .sprint-data .data span .details span.closed {
  color: #0f0f8a;
}
#app #project .sprint-data .data span.commits {
  color: #eb4747;
}
#app #project .sprint-data .data span.comments {
  color: #4747eb;
}
#app [_title] {
  position: relative;
}
#app [_title]:not([_title=""]):hover {
  text-shadow: 0 0 0.2em #e6e6e6, 0 0 0.3em #1a1a1a;
}
#app [_title]:not([_title=""]):hover:after {
  text-shadow: none;
  font-weight: bold;
  position: absolute;
  /*top: .5em;*/
  background: #1a1a1a;
  color: #e6e6e6;
  padding: 0.5em;
  width: 200%;
  left: -100%;
  text-align: center;
  bottom: 130%;
  word-break: break-word;
  content: attr(_title);
  z-index: 1;
  word-spacing: 0.5em;
}

/*# sourceMappingURL=style.css.map */
