#app {
    @import 'projects-list';
    @import 'loader';
    @import 'project';

    width: 90vw;
    margin: auto;
    font-family: sans-serif;
    color: #darker;

    [_title]:not([_title=""]):hover:after {
        position: absolute;
        /*top: .5em;*/
        background: $dark;
        color: $light;
        padding: .5em;
        // width: calc(100% - 1em);
        width: 10em;
        text-align: center;
        left: -5em;
        bottom: 2.5em;
        word-break: break-word;
        content: attr(_title);
        z-index: 1;
    }
}