#app {
    @import 'projects-list';
    @import 'loader';
    @import 'project';

    width: 90vw;
    margin: auto;
    font-family: sans-serif;
    color: #darker;

    [_title] {
        position: relative;
        &:not([_title=""]):hover {
            text-shadow: 0 0 .2em $light, 0 0 .3em $dark;
            &:after {
                text-shadow: none;
                font-weight: bold;
                position: absolute;
                /*top: .5em;*/
                background: $dark;
                color: $light;
                padding: .5em;
                // width: calc(100% - 1em);
                width: 200%;
                left: -100%;
                text-align: center;
                // left: -50%;
                // bottom: 2.5em;
                bottom: 130%;
                word-break: break-word;
                content: attr(_title);
                z-index: 1;
                word-spacing: .5em;
            }
        }
    }
}