#projects {
    // width: 90vw;
    margin: .5em auto;
    display: flex;

    .project {
        margin: 0 .5em;
        flex: 1;
        text-align: center;
        color: $lighter;
        background: $dark;
        padding: .8em 0;

        &:hover {
            cursor: pointer;
            background: $dark-gray;
        }
        &.active {
            background: $dark-green;
        }
        &:first-child {
            margin-left: 0;
        }
        &:last-child {
            margin-right: 0;
        }
    }
}
