#project-data {
    @import 'main-data';
    @import 'sprints';
    @import 'sprint-data';

    position: relative;

    h1 {
        text-align: center;
        margin: .5em auto;
    }

    .renew {
        position: absolute;
        display: block;
        width: 2em;
        height: 2em;
        right: 0;
        border: 1px solid $gray;
        color: $dark-green;
        font-size: 1em;
        border-radius: 50%;
        padding: .5em;
        text-align: center;
        cursor: pointer;
        &:hover {
            background: $light-green;
        }
    }

    .project-summary {

    }

    .sprint-data {
        display: flex;
        flex-flow: row wrap;
        .data {
            background: $lighter;
            flex-grow: 2;
            margin: .5em;
            padding: 1em;
            text-align: center;

            span {
                font-weight: bold;
                display: block;

                .details {
                    span {
                        display: inline;

                        &.open {
                            color: $dark-red;
                        }
                        &.closed {
                            color: $dark-blue;
                        }
                    }
                }

                &.commits { color: $red; }
                &.comments { color: $blue; }
            }
        }
    }
}