#project {
    @import 'sprints-list';
    @import 'sprint';

    position: relative;

    h1 {
        text-align: center;
        margin: .5em auto;
    }

    .renew {
        position: absolute;
        display: block;
        width: 2em;
        height: 2em;
        right: 0;
        border: 1px solid $gray;
        color: $dark-green;
        font-size: 1em;
        border-radius: 50%;
        padding: .5em;
        text-align: center;
        cursor: pointer;
        &:hover {
            background: $light-green;
        }
    }


}