#sprint {
    @import 'main-data';

    .sprint-data {
        display: flex;
        flex-flow: row wrap;
        .data {
            background: $lighter;
            flex-grow: 2;
            margin: .5em;
            padding: 1em;
            text-align: center;
            cursor: default;

            span {
                margin-top: .2em;
                font-weight: bold;
                display: block;

                .details {
                    span {
                        display: inline;

                        &.open {
                            color: $dark-red;
                        }
                        &.closed {
                            color: $dark-blue;
                        }
                    }
                }

                &.commits { color: $red; }
                &.comments { color: $blue; }
            }
        }
    }
}