$dark:       hsl(0, 0%, 10%);
$dark-gray:  hsl(0, 0%, 30%);
$gray:       hsl(0, 0%, 60%);;
$light-gray: hsl(0, 0%, 80%);
$light:      hsl(0, 0%, 90%);
$lighter:    hsl(0, 0%, 96%);

// $teacher:    hsl(120, 100%, 90%);
// $teacher-h:  hsl(120, 100%, 80%);
// $teacher-hh: hsl(120, 100%, 70%);

$darker-blue:  hsl(240, 80%, 20%);
$dark-blue:    hsl(240, 80%, 30%);
$blue:         hsl(240, 80%, 50%);
$light-blue:   hsl(240, 80%, 70%);
$lighter-blue: hsl(240, 80%, 90%);

$darker-green:  hsl(120, 80%, 20%);
$dark-green:    hsl(120, 80%, 30%);
$green:         hsl(120, 80%, 50%);
$light-green:   hsl(120, 80%, 70%);
$lighter-green: hsl(120, 80%, 90%);

$darker-red:  hsl(0, 80%, 20%);
$dark-red:    hsl(0, 80%, 30%);
$red:         hsl(0, 80%, 50%);
$light-red:   hsl(0, 80%, 70%);
$lighter-red: hsl(0, 80%, 90%);

#main-data {
  td {
    span {
      display: block;
      font-weight: bold;
    }
  }
  .commits {
    color: $red;
    :before {
      content: attr(commits);
    }
  }
}
// #main-data .commits {
//   color: var(--red);
// }
// #main-data .commits:before {
//   content: attr(commits);
// }
// #main-data .commits[commits]:after {
//   content: ' commits';
// }
// #main-data .commits[commits="0"]:after, #main-data .commits[commits="1"]:after {
//   content: ' commit';
// }
// #main-data .comments {
//   color: var(--blue);
// }