$dark:       hsl(0, 0%, 10%);
$dark-gray:  hsl(0, 0%, 30%);
$gray:       hsl(0, 0%, 60%);;
$light-gray: hsl(0, 0%, 80%);
$light:      hsl(0, 0%, 90%);
$lighter:    hsl(0, 0%, 96%);

$darker-blue:  hsl(240, 80%, 20%);
$dark-blue:    hsl(240, 80%, 30%);
$blue:         hsl(240, 80%, 60%);
$light-blue:   hsl(240, 80%, 85%);
$lighter-blue: hsl(240, 80%, 96%);

$darker-green:  hsl(120, 80%, 20%);
$dark-green:    hsl(120, 80%, 30%);
$green:         hsl(120, 80%, 60%);
$light-green:   hsl(120, 80%, 85%);
$lighter-green: hsl(120, 80%, 96%);

$darker-red:  hsl(0, 80%, 20%);
$dark-red:    hsl(0, 80%, 30%);
$red:         hsl(0, 80%, 60%);
$light-red:   hsl(0, 80%, 85%);
$lighter-red: hsl(0, 80%, 96%);

$darker-orange:  hsl(40, 80%, 20%);
$dark-orange:    hsl(40, 80%, 30%);
$orange:         hsl(40, 80%, 60%);
$light-orange:   hsl(40, 80%, 85%);
$lighter-orange: hsl(40, 80%, 96%);

$darker-cyan:  hsl(180, 80%, 20%);
$dark-cyan:    hsl(180, 80%, 30%);
$cyan:         hsl(180, 80%, 60%);
$light-cyan:   hsl(180, 80%, 85%);
$lighter-cyan: hsl(180, 80%, 96%);